<!--
<%= form_with model: pet do |f| %>
	<div class="mb-3">
    <%= f.label :name, class:"form-label" %>
    <%= f.text_field :name, class:"form-control" %>
  </div>

	<div class="mb-3">
    <%= f.label :address, class:"form-label" %>
    <%= f.text_field :address, class:"form-control" %>
  </div>
  <%= f.label :species %>
  <%= f.select :species, Pet::SPECIES %>
  <%= f.label :found_on %>
  <%= f.date_field :found_on %>
  <%= f.submit %>
<% end %>
-->

<%= simple_form_for(pet) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :species, collection: Pet::SPECIES %>
  <%= f.input :found_on%>
  <%= f.submit class:'btn btn-dark float-end mt-3'%>
<% end %>
